// 通用颜色变量
$white: #FFF; // 白色
$deepWhite: #F6F7FB; // 深白色
$purple: #44519E; // 紫色
$green: #46C45F; // 绿色
$red: #FC5661; // 红色
$blue: #007BFF; // 蓝色
$black: #282f3A; // 黑色
$lightBlack: #6C757D; // 浅黑色
$gray: #AAB2BD; // 灰色
$lightGray: #E5E9EF; // 浅灰色

// 业务颜色
$menuBg: $white; // 菜单背景
$menuHover: $deepWhite; // 菜单活动背景